<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>双鸭山</key>
	<array>
		<string>宝清县</string>
		<string>宝山区</string>
		<string>集贤县</string>
        <string>尖山区</string>
        <string>岭东区</string>
        <string>饶河县</string>
        <string>四方台区</string>
        <string>友谊县</string>
	</array>
	<key>黑河</key>
	<array>
        <string>北安市</string>
        <string>黑河市</string>
        <string>嫩江县</string>
        <string>孙吴县</string>
        <string>五大连池市</string>
        <string>逊克县</string>
	</array>
	<key>齐齐哈尔</key>
	<array>
        <string>昂昂溪区</string>
        <string>拜泉县</string>
        <string>富拉尔基区</string>
        <string>富裕县</string>
        <string>甘南县</string>
        <string>建华区</string>
        <string>克东县</string>
        <string>克山县</string>
        <string>龙江县</string>
        <string>龙沙区</string>
        <string>梅里斯达斡尔族区</string>
        <string>讷河市</string>
        <string>碾子山区</string>
        <string>泰来县</string>
        <string>铁锋区</string>
        <string>依安县</string>
	</array>
	<key>鸡西</key>
	<array>
        <string>城子河区</string>
        <string>滴道区</string>
        <string>恒山区</string>
        <string>虎林市</string>
        <string>鸡东县</string>
        <string>鸡冠区</string>
        <string>梨树区</string>
        <string>麻山区</string>
        <string>密山市</string>
	</array>
	<key>大庆</key>
	<array>
        <string>安达市</string>
        <string>龙凤区</string>
        <string>让胡路区</string>
        <string>萨尔图区</string>
        <string>大同区</string>
        <string>红岗区</string>
        <string>泰康县</string>
        <string>肇源县</string>
        <string>肇州县</string>
	</array>
	<key>哈尔滨</key>
	<array>
        <string>阿城区</string>
        <string>巴彦县</string>
        <string>宾县</string>
        <string>道里区</string>
        <string>道外区</string>
        <string>方正县</string>
        <string>呼兰区</string>
        <string>木兰县</string>
        <string>南岗区</string>
        <string>平房区</string>
        <string>尚志市</string>
        <string>双城市</string>
        <string>松北区</string>
        <string>通河县</string>
        <string>五常市</string>
        <string>香坊区</string>
        <string>延寿县</string>
        <string>依兰县</string>
        <string>肇东市</string>
	</array>
	<key>鹤岗</key>
	<array>
        <string>东山区</string>
        <string>工农区</string>
        <string>南山区</string>
        <string>兴安区</string>
        <string>兴山区</string>
        <string>萝北县</string>
        <string>绥滨县</string>
	</array>
	<key>绥化</key>
	<array>
        <string>北林区</string>
        <string>海伦市</string>
        <string>兰西县</string>
        <string>明水县</string>
        <string>青冈县</string>
        <string>庆安县</string>
        <string>绥棱县</string>
        <string>望奎县</string>
	</array>
	<key>牡丹江</key>
	<array>
        <string>爱民区</string>
        <string>东安区</string>
        <string>东宁县</string>
        <string>海林市</string>
        <string>林口县</string>
        <string>穆棱市</string>
        <string>宁安市</string>
        <string>绥芬河市</string>
        <string>西安区</string>
        <string>阳明区</string>
	</array>
	<key>佳木斯</key>
	<array>
        <string>东风区</string>
        <string>抚远县</string>
        <string>富锦市</string>
        <string>桦川县</string>
        <string>桦南县</string>
        <string>建三江</string>
        <string>郊区</string>
        <string>前进区</string>
        <string>汤原县</string>
        <string>同江市</string>
        <string>向阳区JMS</string>
	</array>
	<key>伊春</key>
	<array>
        <string>翠峦区</string>
        <string>浩良河区</string>
        <string>红星区</string>
        <string>带岭区</string>
        <string>嘉荫县</string>
        <string>金山屯区</string>
        <string>美溪区</string>
        <string>南岔区</string>
        <string>汤旺河区</string>
        <string>上甘岭区</string>
        <string>铁力市</string>
        <string>乌伊岭区</string>
        <string>乌马河区</string>
        <string>西林区</string>
        <string>五营区</string>
        <string>友好区</string>
        <string>伊春区</string>
        <string>新青区</string>
	</array>
	<key>七台河</key>
	<array>
        <string>勃利县</string>
        <string>茄子河区</string>
        <string>桃山区</string>
        <string>新兴区</string>
	</array>
	<key>大兴安岭</key>
	<array>
        <string>呼玛县</string>
        <string>呼中区</string>
        <string>加格达奇区</string>
        <string>漠河县</string>
        <string>松岭区</string>
        <string>塔河县</string>
        <string>新林区</string>
	</array>
</dict>
</plist>
